<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GroupedTestsSuite">

    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="pck.DatePickerTests"/>
        </classes>
    </test>

    <test name="RegressionTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="pck.DatePickerTests"/>
        </classes>
    </test>

</suite>
